.main-navigation {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5rem;
	background: #1579ac;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}
.main-navigation ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}
.main-navigation-logo {
	position: absolute;
	left: 6rem;
}
.main-navigation-logo h1 {
	margin: 0;
	font-size: 1.5rem;
	color: #d8fafe;
}
.main-navigation-items {
	margin-left: 1.5rem;
	position: absolute;
	right: 2rem;
}
.main-navigation-items li {
	margin: 0 1rem;
}

.main-navigation-items a,
.main-navigation-items button {
	text-decoration: none;
	color: #d8fafe;
	padding: 0.25rem 0.5rem;
	border: none;
	font: inherit;
	background: transparent;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
}

.main-navigation-items a:hover,
.main-navigation-items a:active,
.main-navigation-items a.active,
.main-navigation-items button:hover,
.main-navigation-items button:active {
	background: #ffffff;
	color: #1579ac;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.main-navigation-items {
		display: none;
	}
	.loggedin {
		font-family: inherit;
		font-size: 0.6rem;
		color: white;
		position: absolute;
		right: 1rem;
	}
}

@media (min-width: 769px) {
	.main-navigation-logo {
		left: 3rem;
	}
	.loggedin {
		display: none;
	}
}
